includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Doctrine\DBAL\Types\ConversionException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            message: '#Parameter \#1 \$value .* of method Nepada\\PhoneNumberDoctrine\\PhoneNumberType::convertToPHPValue\(\) should be contravariant with parameter \$value .* of method Doctrine\\DBAL\\Types\\Type::convertToPHPValue\(\)#'
            path: src/PhoneNumberDoctrine/PhoneNumberType.php
        -
            message: '#Parameter \#1 \$value .* of method Nepada\\PhoneNumberDoctrine\\PhoneNumberType::convertToDatabaseValue\(\) should be contravariant with parameter \$value .* of method Doctrine\\DBAL\\Types\\Type::convertToDatabaseValue\(\)#'
            path: src/PhoneNumberDoctrine/PhoneNumberType.php
