includes:
    - phar://phpstan.phar/vendor/phpstan/phpstan-mockery/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    fileExtensions:
        - php
        - phpt

    autoload_directories:
        - %currentWorkingDirectory%/tests

    excludes_analyse:
        - %currentWorkingDirectory%/tests/bootstrap.php
        - %currentWorkingDirectory%/tests/temp/*

    ignoreErrors:
        -
            message: '#Parameter \#2 \$className of static method Doctrine\\DBAL\\Types\\Type::overrideType\(\) expects string, null given#' # intended test behavior
            path: %currentWorkingDirectory%/tests/PhoneNumberDoctrine/PhoneNumberTypeTest.phpt
